doctype
html
	head
		link(rel='stylesheet', href='/index.css')
		title CSS Protector
	body
		header
			h1 CSS Protector
		for difference in diffResult.differences
			p #{difference.kind} #{difference.path} 
		h3 First data
		p #{diffResult.first}
		h3 Second data
		p #{diffResult.second}
